

$primary-color: lighten(blue, 2) !default;

$color-dane:#B91450;
$color-gris: #eee;

$color1:#336B87;
$color2:#90AFC5;
$color3: #2A3132;
$color4:#763626;



*{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  
  font-size: 13px;
  font-weight: 300;
  box-sizing: border-box;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#mapa{
  height:100vh;
}

#contenedor{
  display:grid;
  grid-template-columns: min-content 1fr;
  height:100vh;

}
.ventana{
  background-color: white;

}
.header{
  background-color: $color1;
  background-image: url(/img/topography.svg);
  
  height:130px;

  .titulo_visor{
    color: #fff;
    font-size:  1.8em;
    font-weight: 500;
    padding: 0px 10px 10px 10px;
  }
}
.body{
  padding:10px;
  overflow-y: scroll;
  height: calc(100vh - 170px)
}
#dane{
  width: 100px;
}



.seccion{
margin-bottom: 10px;
}

.titulo_seccion{
  color:$color1;
  font-size: 1.2em;
  margin:20px 0px 10px 0px;
}

input[type=checkbox]:checked {
  background-color: #a77e2d !important;
  color: #ffffff !important;
}


select,input[type=text]{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  padding: 2px;
  border: 0.5px solid $color-gris;
}

p{
  padding: 0px;
  margin: 0px;
  font-size: 1.1em;
}


.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 10px 20px 5px 5px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 5px;
  left: -50px;
  min-width: 200px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 5px;
}
.ol-popup-closer:after {
  content: "✖";
}



#grupo-graficos{
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
  .graph{
    width: 280px;
  }
}

.grupo{
  display:grid;
}


.grupo-base{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;

  .elemento{
    display: grid;



  input[type=radio]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
  
    width: 100%;
    height:100%;
    .padre{
      position: relative;
      height: 40px;
    }
    .hov{
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
    img{
      width: 100%;
      height: 100%;
    }
    }


  
  input[type=radio]:checked + label > div> .hov {
    visibility:visible;
    background: rgba(128, 212, 214, 0.3);
  }
}
}

.grupo-export{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  div{
    display: grid;
  }
  button{
    height: 20px;
    align-self:end ;
    background-color: $color4;
    color: #fff;
    border:none;
  }
}

button{
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}

#descarga-info{
  height: 20px;
  background-color: $color4;
  color: #fff;
  border:none;
  margin-top: 10px;
}

.grupo-capas{
  display:grid;
  label{
    padding:3px;
    display:grid;
    grid-template-columns: 30px 1fr 0.5fr;
    row-gap: 10px;
  }
  span{
    align-self: center;
  }
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: $color1; 
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  align-self: center;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: $color4;
  cursor: pointer;
}



input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid $color1;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
}
input[type="checkbox"]:checked+label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: $color1;
}

#logo-presidente{
  width: 200px;
  padding-top: 30px;
}







aside {
  width:300px;
  background-color: #ffff;
  transition: width 1s;
  height: 100vh;
}

.no-aside{
  width:60px;
  height: 100vh;
  .ventana{
    visibility: hidden;
  }
}


.toggle {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
}

.toggle i,
.toggle i::after,
.toggle i::before {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  transition: transform .15s;
  background-color: $color4;
}

.toggle i {
  top: 50%;
  left: 18%;
  display: block;
  background:$color4;
}

.toggle i::before {
  top: -10px;
}

.toggle i::after {
  bottom: -10px;
}

.toggle i::after,
.toggle i::before {
  content: '';
  display: block;
}

.toggle i::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.toggle i::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.no-aside .toggle i::before,
.no-aside .toggle i::after {
  transform: none;
}